venv/
node_modules/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.test
.env.production
__pycache__/
back/KDA1/
get-pip.py/
KDA_PRJ2_MainGame\get-pip.py/
KDA2/